.container-fluid {
  background-color: rgb(137, 131, 131);
  display: flex;
  justify-content: flex-end;
}

.navbar-brand {
  color: rgb(190, 165, 27);
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  height: 50px;
}

.collapse navbar-collapse {
  color: rgb(190, 165, 27);
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  display: flex;
  justify-content: flex-end;
}

.d-flex {
  width: 100vh;
}
